body {
    /*Anwenden der Schriftart*/
    font-family: "Roboto", sans-serif;
}

/*Gibt die groesse der Home Seite in Pixel an*/
#home {
    height: 700px;
}

/*Format fuer die Menuebar*/
#menuBar {
    /*Sorgt dafuer, dass Menubar nicht hinter anderen Elementen verschwindet*/
    z-index: 1;
    /*bis hier*/
    background-color: white;
    display: flex;
    justify-content: space-between;
    /*Groesse und Position der Menubar*/
    width: 50%;
    left: 25%;
    /*Rand um die Menubar*/
    padding: 10px;
    /*Menubar ist an buendig mit oberstem Rand des Fensters*/
    top: 0%;
    /*Animation wird aufgerufen inklusive Dauer und Art der Bewegung*/
    animation: slideMenu 1s linear;
    /*Position muss fixiert sein, damit MenuBar nicht verschwindet*/
    position: fixed;
}

.menulinks {
    font-size: 200%;
}

/*Stil der Buttons in der Menubar*/
.buttonsStyle {
    /*Aenderung des Styles des buttons*/
    font-size: 100%;
    background-color: white;
    border-color: white;
    border: 0;
}


#content {
    /*Festlegen der Breite*/
    width: 60%;
    /*Setzt den Inhalt auf die Mitte der Seite*/
    position: relative;
    left: 50%;
    transform: translate(-50%, 50%);
    /*bis hier*/
    background-color: white;
    display: flex;
    justify-content: center;
    /*Animation wird aufgerufen inklusive Dauer und Art der Bewegung*/
    animation: slideContent 2s linear;
}
#overview {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /*Richtet den Namen und die Kurzinfos mittig ein*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#aboutMe {
    position: relative;
    height: 900px;
}
.tableaboutMe {
    font-size: x-large;
    position: relative;
    top: 15%;
    left: 30%;
    width: 50%;
    /*Am Anfang ist die Tabelle unsichtbar*/
    opacity: 0;
}
/*Die Animation muss in eine extra Klasse. Im Javascript wird die Animation zu ".tableaboutMe" hinzugefügt, wenn man sie abspielen möchte*/
.animated-aboutMe {
    animation: slideaboutMe 1s ease-out;
}


#contact{
    height: 500px;
}
.contact_information{
    position: relative;
    height: 700px;
    width: 40%;
    left: 30%;
    opacity: 0;
}
#tablesocialmedia{
    font-size: x-large;
    padding-bottom: 30px;
}
#githublink{
    color: black;
    text-decoration: none;
}
.animated-contact{
    animation: slidecontact 2s ease-out;
}

#E-MailContactForm{
    font-size: x-large;
    width: 100%;
}

.E-MailInput{
    padding-top: 10px;
    padding-bottom: 20px;
}
#Email {
    width: 80%;
    /*Gibt die Hoehe der Textbox an*/
    height: 30px;
    /*Gibt die Dicke, Art und Farbe der Umrandung an*/
    border: 1px solid #ced4da;
    /*Abrundung der Ecken der Eingabefelder*/
    border-radius: 0.25rem;
}
.MessageInput{
    padding-top: 10px;
}
#Message{
    width: 80%;
    /*Gibt die Hoehe der Textbox an*/
    height: 100px;
    /*Gibt die Dicke, Art und Farbe der Umrandung an*/
    border: 1px solid #ced4da;
    /*Abrundung der Ecken der Eingabefelder*/
    border-radius: 0.25rem;
    /*Erlaubt nur die vertikale Goessenaenderung der Messagebox*/
    resize: vertical;
}
#submittButton{
    width: 80%;
    height: 30px;
    text-align: center;
    /*Farbe des buttons und des Rander*/
    background-color:#007bff;
    border-color: #007bff;
    /*Schriftfarbe*/
    color: white;
    /*Abrundung der Ecken der Eingabefelder*/
    border-radius: 0.25rem;
    /*Stil des Randes des buttons*/
    border-style: none;
}



/*CSS Animationen, die ein Element herein sliden lassen*/

@keyframes slideContent {
    from {
        /*Startposition des Elements*/
        transform: translate(-50%, 60%);
        /*Sichtbarkeit*/
        opacity: 0;
    }

    /*Enposition des Elements*/
    to {
        /*Endposition des Elements*/
        transform: translate(-50%, 50%);
        /*Sichtbarkeit*/
        opacity: 1;
    }
}

@keyframes slideMenu {
    from {
        /*Startposition des Elements*/
        left: 25%;
        top: -3%;
        /*Sichtbarkeit*/
        opacity: 0;
    }

    /*Enposition des Elements*/
    to {
        /*Endposition des Elements*/
        left: 25%;
        top: 0%;
        /*Sichtbarkeit*/
        opacity: 1;
    }
}

@keyframes slideaboutMe {
    from {
        /*Startposition des Elements*/
        left: 30%;
        top: 25%;
        /*Sichtbarkeit*/
        opacity: 0;
    }

    /*Enposition des Elements*/
    to {
        /*Endposition des Elements*/
        left: 30%;
        top: 15%;
        /*Sichtbarkeit*/
        opacity: 1;
    }
}

@keyframes slidecontact{
    from {
        /*Startposition des Elements*/
        left: 30%;
        top: 30%;
        /*Sichtbarkeit*/
        opacity: 0;
    }

    /*Enposition des Elements*/
    to {
        /*Endposition des Elements*/
        left: 30%;
        top: 0%;
        /*Sichtbarkeit*/
        opacity: 1;
    }
}